body {
  background-color: black;
}
.movie-container {
  width: 100%;
  margin: auto;
  padding: 1rem;
}
.wrapper-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}
.box1-header {
  margin: 10px;
  margin-bottom: 35px;
  /* max-height: 500px; */
}
.box1-header img {
  grid-column: 1;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 18px 0px white;
  border-radius: 40px;
  color: white;
  margin: 20px;
}
.box2-header h1 {
  color: wheat;
  text-shadow: 6px 6px 10px wheat;
  margin-bottom: 30px;
}
.box2-header h3 {
  color: wheat;
  margin-top: 20px;
}
.box2-header {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  grid-gap: 30px;
}
.box2-header-1 {
  grid-column: 1;
  padding: 20px;
  overflow: hidden;
}
.box2-header-2 {
  grid-column: 2;
  padding: 20px;
}

.char-name {
  display: flex;
}

span {
  margin-left: 5px;
  justify-content: center;
}
li {
  width: 47%;
  border-radius: 15px;
  box-shadow: 0px 0px 18px 0px white;
  margin: 15px;
  padding: 10px;
  background-color: gray;
}
.more-info {
  display: flex;
  font-size: 1em;
}
.wrapper-li-content {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr;
  /* grid-auto-rows: minmax(150px, auto); */
  grid-gap: 1px;
}

.box1-row1 {
  display: block;
  border-radius: 30px;
  /* width: 100%; */
  height: 150px;
  /* object-fit: cover;
  box-shadow: 0px 0px 15px 0px white; */
}

.box1-row1 img {
  display: block;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0px 0px 15px 0px white;
}

.box1 {
  grid-column: 1;
  border-radius: 15px;
}

.box2 {
  grid-column: 2/ 3;
  border-radius: 10px;
  padding: 5px;
  color: white;
}
.box2 h5 {
  border-radius: 10px;
  padding: 0px;
  color: wheat;
}

/* BOX 3 */
.box3 {
  grid-column: 3;
  display: grid;
  border-radius: 10px;
  padding: 5px;
  color: white;
}
.box3 h4 {
  /* text-align: center; */
  border-radius: 10px;
  padding: 0px;
  color: wheat;
}

/* BOX 4 */
.box4 {
  grid-column: 4;
  display: grid;
  border-radius: 10px;
  padding: 5px;
  color: whitesmoke;
}
.box4 h4 {
  /* text-align: center; */
  border-radius: 10px;
  padding: 0px;
  color: wheat;
}

.box1-row2 h3 {
  border-radius: 10px;
  padding: 0px;
  color: wheat;
  text-shadow: 6px 6px 10px wheat;
  text-align: center;
  padding-top: 30px;
}

@media (max-width: 576px) {
  li {
    width: 100%;
    overflow: hidden;
  }
  .box1-row2 {
    font-size: 1.5rem;
    padding: 5px;
    margin-bottom: 15px;
  }
  .wrapper-li-content {
    display: inline-block;
    /* grid-template-columns: 1fr; */
    grid-gap: 1px;
  }
  .box1 {
    border-radius: 15px;
  }
  h4 {
    padding: 0px;
    color: wheat;
    font-size: 1.5rem;
  }
  h5 {
    padding: 0px;
    color: wheat;
    font-size: 1.25rem;
  }
  span {
    padding: 1px;
    font-size: 1.25rem;
  }
  p {
    font-size: 1.25rem;
  }
  .input-field {
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  .wrapper-header {
    display: inline-block;
    grid-gap: 15px;
  }
  .box2-header {
    display: inline-block;
    color: white;
    grid-gap: 30px;
  }
  .box2-header-1 {
    grid-column: 1;
    padding: 20px;
    overflow: hidden;
  }
  .box2-header-2 {
    grid-column: 2;
    padding: 20px;
  }
  .box1-header {
    margin: 10px;
    margin-bottom: 10px;
  }
  .box1-header img {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 18px 0px white;
    border-radius: 40px;
    color: white;
    margin: 0px;
  }
}

@media (max-width: 1024px) {
  li {
    width: 100%;
    overflow: hidden;
  }
  .box1-row2 {
    font-size: 1.5rem;
    padding: 5px;
    margin-bottom: 15px;
  }
  .wrapper-li-content {
    display: inline-block;
    /* grid-template-columns: 1fr; */
    grid-gap: 1px;
  }
  .box1 {
    border-radius: 15px;
  }
  .box1-row1 {
    display: block;
    /* border-radius: 30px; */
    /* width: 100%; */
    height: 300px;
    /* object-fit: cover;
    box-shadow: 0px 0px 15px 0px white; */
  }
  .box1-row1 img {
    display: block;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    /* object-fit: cover;
    box-shadow: 0px 0px 15px 0px white; */
  }
  h4 {
    padding: 0px;
    color: wheat;
    font-size: 1.4rem;
  }
  h5 {
    padding: 0px;
    color: wheat;
    font-size: 1.4rem;
  }
  span {
    padding: 1px;
    font-size: 1.25rem;
  }
  p {
    font-size: 1.25rem;
  }
  .input-field {
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  .wrapper-header {
    display: inline-block;
    grid-gap: 15px;
  }
  .box2-header {
    display: inline-block;
    color: white;
    grid-gap: 30px;
  }
  .box2-header-1 {
    grid-column: 1;
    padding: 20px;
    overflow: hidden;
  }
  .box2-header-2 {
    grid-column: 2;
    padding: 20px;
  }
  .box1-header {
    margin: 10px;
    margin-bottom: 10px;
  }
  .box1-header img {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 18px 0px white;
    border-radius: 40px;
    color: white;
    margin: 0px;
  }
}
